<h3 view-title class="cttv-content-header">Platform documentation</h3>

<div class="row">
    <div class="col-md-4 pull-right hidden-xs hidden-sm">
        <!-- automatic menu here? -->
        <div>
            <ul class="plain arrow-icon">
                <li><a href="#getting_started">Getting started with a text search</a></li>
                <li><a href="#target_assoc">Diseases associated with a target</a></li>
                <li><a href="#disease_assoc">Targets associated with a disease</a></li>
                <li><a href="#evidence">The data sources for target-disease associations</a></li>
                <li><a href="#target_profile">The target profile</a></li>
                <li><a href="#disease_profile">The disease profile</a></li>
                <li><a href="#scoring">The score of target-disease associations</a></li>
                <li><a href="#filters">Filtering target-disease associations</a></li>
                <li><a href="#api">Accessing the Open Targets data with an API</a></li>
                <li><a href="#citation">How to cite us</a></li>
                <li><a href="#connect">Connect with us</a></li>
            </ul>
        </div>
    </div>

    <div class="col-sm-12 col-md-8">
        <div md-parser url="docs/about.md"></div>
    </div>



</div>


