<h3 view-title class="cttv-content-header">Data sources</h3>

<div class="row">
    <div class="col-sm-12 col-md-8">
        <div md-parser url="docs/data_sources.md"></div>
    </div>

    <div class="col-md-4 hidden-xs hidden-sm">
        <!-- automatic menu here? -->
        <ul class="plain arrow-icon">

            <li><a href="#genetic">Genetic associations</a>
                <ul class="plain arrow-icon">
                    <li><a href="#gwas">GWAS Catalog</a></li>
                    <li><a href="#uniprot">UniProt</a></li>
                    <li><a href="#uniprot_lit">UniProt literature</a></li>
                    <li><a href="#eva">European Variation Archive (EVA)</a></li>
                    <li><a href="#gene2phenotype">Gene2Phenotype</a></li>
                </ul>
            </li>

            <li><a href="#somatic">Somatic mutations</a>
                <ul class="plain arrow-icon">
                    <li><a href="#census">The Cancer Gene Census</a></li>
                    <li><a href="#eva_somatic">European Variation Archive (EVA)</a></li>
                    <li><a href="#intogen">IntOGen</a></li>
                </ul>
            </li>

            <li><a href="#drugs">Drugs</a>
                <ul class="plain arrow-icon">
                    <li><a href="#chembl">ChEMBL</a></li>
                </ul>
            </li>

            <li><a href="#reactome">Affected pathways</a>
                <ul class="plain arrow-icon">
                    <li><a href="#reactome">Reactome</a></li>
                </ul>
            </li>

            <li><a href="#rna-expression">RNA expression</a>
                <ul class="plain arrow-icon">
                    <li><a href="#atlas">Expression Atlas</a></li>
                </ul>
            </li>

            <li><a href="#text_mining">Text mining</a>
                <ul class="plain arrow-icon">
                    <li><a href="#epmc">Europe PMC</a></li>
                </ul>
            </li>

            <li><a href="#mouse">Animal models</a>
                <ul class="plain arrow-icon">
                    <li><a href="#phenodigm">Phenodigm</a></li>
                </ul>
            </li>

        </ul>
    </div>

</div>


