<div class="container">
    <view-title>FAQs</view-title>
    <h3 class="cttv-content-header">Frequently asked questions</h3>


    <div class="row">
        <div class="col-md-4 pull-right hidden-xs hidden-sm">
            <!--
            <div data-spy="affix" data-offset-top="60" data-offset-bottom="200">
                <ul class="plain arrow-icon">
                    <li><a href="#search">What can I search for?</a></li>
                    <li><a href="#target">What is a target?</a></li>
                    <li><a href="#diseases">How are diseases described?</a></li>
                    <li><a href="#efo">What is the Experimental Factor Ontology?</a></li>
                    <li><a href="#data">Where does the data come from?</a></li>
                    <li><a href="#score">How is the association score calculated?</a></li>
                    <li><a href="#biblio">I’m looking at a target profile and found some articles linked to my target. Where does the bibliography come from?</a></li>
                    <li><a href="#data_use">Do you use the information I’ve searched for in platform?</a></li>
                    <li><a href="#citation">How do I cite the Open Targets Platform?</a></li>
                    <li><a href="#download">Can I download data from the Open Targets Platform?</a></li>
                    <li><a href="#contact">How can I contact the team?</a></li>
                </ul>
            </div>
            -->
        </div>

        <div class="col-sm-12 col-md-8">
            <div md-parser url="docs/faq.md"></div>
        </div>
    </div>
</div>
